In [1]:
# Import Dependencies
from bs4 import BeautifulSoup as bs
import requests
import pymongo
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
from flask import Flask, render_template, redirect
from flask_pymongo import PyMongo
import pandas as pd

In [2]:
# Chrome Driver
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 93.0.4577
Get LATEST driver version for 93.0.4577
Driver [/Users/tatianafrattale/.wdm/drivers/chromedriver/mac64/93.0.4577.63/chromedriver] found in cache

# NASA Mars News

In [3]:
# URL 
news_url = 'https://redplanetscience.com/'
request = requests.get(news_url)
browser.visit(news_url)

In [4]:
# HTML parser
html = browser.html
soup = bs(html, "html.parser")

In [5]:
# Scrape title and text from most recent article
news_title = soup.find_all('div', class_='content_title')[0].text
news_text = soup.find_all('div', class_ ='article_teaser_body')[0].text

print(news_title)
print("----------------------------------------------------------------")
print(news_text)

With Mars Methane Mystery Unsolved, Curiosity Serves Scientists a New One: Oxygen
----------------------------------------------------------------
For the first time in the history of space exploration, scientists have measured the seasonal changes in the gases that fill the air directly above the surface of Gale Crater on Mars.

# JPL Mars Space Images - Featured Image

In [6]:
# URL 
image_url = 'https://spaceimages-mars.com/'
request = requests.get(image_url)
browser.visit(image_url)

In [7]:
# HTML parser
html = browser.html
soup = bs(html, "html.parser")

In [8]:
# Scrape image url
image_relative_path = soup.find_all('img', class_='headerimage fade-in')[0]["src"]
featured_image_url = f"{image_url}{image_relative_path}"
print(featured_image_url)

https://spaceimages-mars.com/image/featured/mars2.jpg

# Mars Facts

In [9]:
# URL 
fact_url = 'https://galaxyfacts-mars.com/'
request = requests.get(fact_url)
browser.visit(fact_url)

In [10]:
html = browser.html
soup = bs(html, "html.parser")

In [11]:
# Scrape table data
mars_data= pd.read_html(fact_url)
mars_data

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [22]:
# Create a data frame
mars_df= mars_data[1]
mars_df= mars_df.rename(columns={0:"Element",1:"Value"})
mars_df.set_index("Element",inplace=True)
mars_df

                                              Value
Element
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                        2 ( Phobos & Deimos )
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [26]:
# Convert to html string
mars_html = mars_df.to_html()
print(mars_html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Value</th>
    </tr>
    <tr>
      <th>Element</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Equatorial Diameter:</th>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>Polar Diameter:</th>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2 ( Phobos &amp; Deimos )</td>
    </tr>
    <tr>
      <th>Orbit Distance:</th>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>Orbit Period:</th>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>Surface Temperature:</th>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>First Record:</th>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>Recorded By:</th>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>